<h2 id="title">Welcome to Ember</h2>

{{outlet}}
{{input value='Hello World'}}
<br>
{{input value=helloText}}
<br>
{{input value=helloText key-press='pressed'}}
<br>
{{input type='checkbox' checked=isChecked}}
<br>
{{textarea value='hello world' cols='20' rows='10'}}
