{{outlet}}
<br>
<b>title: {{input  value=model.title size='15'}}</b><br>
<b>Author: {{input value=model.author size='15'}}</b><br>
<b>Year: {{input value=model.year size='35'}}</b><br>
<button {{action 'updateText'}}>Submit Changes</button>
<button {{action 'cancel'}}>cancel</button>
<br>
