{{outlet}}
<b>title: {{input  value=info.title size='15'}}</b><br>
<b>Author: {{input  value=info.author size='15'}}</b><br>
<b>Year: {{input  value=info.year size='35'}}</b><br>
<button {{action 'newText' }}>Submit Changes</button>
<button {{action 'cancel' }}>Cancel</button><br>


