Enter Age:<br>
{{input value=num}}<br>
	<div style='color: red'>
		{{message}}<br>
	</div>
Enter Email:<br>
{{input value=email}}<br>
	<div style='color: red'>
		{{emailMessage}}<br>
	</div>
<button {{action 'check'}}>Check</button><br>

